# Interduction to python
## Interduction to python
### Interduction to python

- Point 1
  - a
  - b
- Point 2
  - a
  - b

<img src= "python-logo.png" height ="230px" width ="220px">

In [2]:
pwd

'C:\\Users\\Ravi'

<img src= "python-logo.png" height ="230px" width ="220px">

# python programming
- python can be used as general programming
- python more popular because of internal and external packages
- python canbe used as fundamental programming, oop ,scripting programming 
- python used in data scince , machine learning and AI
- Data science 
  - Pandas
- Visualization
  - matlib ,scipy
  - multi dimentional programming
  - numpy

### Data types in python
- int
- float
- str

In [4]:
x = 100000000000000000
print(x, type(x))

100000000000000000 <class 'int'>

In [5]:
x =103.5

print (x , type (x))

103.5 <class 'float'>

In [6]:
x1 = 's'
x= "ravi"
print(x1 ,type(x1 ))
print(x,type(x))

s <class 'str'>
ravi <class 'str'>

### Input functions of python
. input() which reads the input console and give the output interms of string formate

# type conversion
- int()
 . it mskes the input into interger class
- float()
 . it makes the input into float formate 
- str()
 . it makes the input into string formate

In [9]:
s = int(input ("Enter a num : "))
print(s , type (s))

Enter a num : 12345
12345 <class 'int'>

In [6]:
s1 = input ("enter a name : ")
print(s1, type (s1))

enter a name : krishna
krishna <class 'str'>

# contolr flow statements
- conditional statements
 - if_else
- loop statements
 - while
 - for

In [16]:
x =int (input())
if x%2==0:
    print("Even")
else:
    print("Odd")

55
Odd

In [ ]:
# read a character and upper case or lower case
# ASCII
# A-z : 65-90
# a-z : 90-122
# 0-9 : 48-57
# space : 32
# ord('char') - ASCII

In [4]:
print(ord('A'))
print(ord('a'))
print(type(ord('0')))
print(ord(' '))

65
97
<class 'int'>
32

In [2]:
x =input()
if ord(x) >=65 and ord(x)<=90:
    print("Upper case")
elif ord(x) >=97 and ord(x)<=122:
    print("Lower case")

S
Upper case

In [4]:
# Read thr char and print the output in vice versa
# a-A
# A-a
x = input()
if ord(x) >=65 and ord(x)<=90:
    print(chr(ord(x) + 32))
elif ord(x) >=97 and ord(x)<=122:
    print(chr(char(ord(x) - 32)))

A
a

In [14]:
print(ord('A'))
print(chr(65))

65
A

In [15]:
print(10/3)
print(10//3)

3.3333333333333335
3

In [24]:
# while loop
# no-fixed
# for loop
# fixed

In [25]:
# print the natural nums from 1 to N
n = int(input())
i = 1
while i <= n:
    print(i, end = " ")
    i += 1

8
1 2 3 4 5 6 7 8

In [30]:
# print the factor / divisor of the given num
#6--1 2 3 6
n = int(input ())
i = 1
while i <= n:
    if n%i==0:
        print(i, end = " ")
    i += 1

100
1 2 4 5 10 20 25 50 100

In [31]:
# 12321---- 1 2 3 2 1
# 12345 ----5 4 3 2 1

n =int(input())
while n != 0:
    print(n%10, end = " ")
    n = n//10

123434
4 3 4 3 2 1

In [33]:
for x in range(5):print(x, end= " ")

0 1 2 3 4

In [34]:
for x in range(1,10):print(x, end= " ")

1 2 3 4 5 6 7 8 9

In [35]:
for x in range(100,151,2):print(x, end= " ")

100 102 104 106 108 110 112 114 116 118 120 122 124 126 128 130 132 134 136 138 140 142 144 146 148 150

In [36]:
for x in range(150,100,-2):print(x, end= " ")

150 148 146 144 142 140 138 136 134 132 130 128 126 124 122 120 118 116 114 112 110 108 106 104 102

## Data structers 
- organizing the huge amount of data 
- makes the user to search , sort and filter the respective in simple manner 
- examples:Databaces
##  Data structers in python
- List
- tuple
- dictonary
- sets

## list in python
- common data structer in python
- used to define the range/group of items under same name
- list can be same type or different type
- list always  enclosed in square brackets
- Every list item will be saperated by comma(,)

In [37]:
li = [1,2,3,4,5]
print(li)

[1, 2, 3, 4, 5]

In [38]:
for  i in range(len(li)):
    print(li[i], end = " ")

1 2 3 4 5

In [18]:
l = [12, "hyderabad" , "sai", 12.4]
print(l)

[12, 'hyderabad', 'sai', 12.4]

In [19]:
# update and delete 
l = [12, "hyderabad" , "sai", 12.4]
l[3]=12
print(l)
del l[2]
print(l)
l = [12, "hyderabad" , "sai", 12.4]
print(len(l))
l = [12,12, 13 , 15, 12.4]
print(max(l))
l = [12, 13 , 15, 12]
print(min(l))
l = [12, 12, 13 , 15, 12]
print(sum(l)//len(l))

[12, 'hyderabad', 'sai', 12]
[12, 'hyderabad', 12]
4
15
12
12

In [29]:
l.append(123)
l

[12, 12, 13, 15, 55, 55, 12, 123, 123, 123, 123]

In [27]:
l.insert(4,55)
l

[12, 12, 13, 15, 55, 55, 12, 123, 123, 123]

In [23]:
l.count(12)

3

In [53]:
l.reverse()
l

[123, 123, 123, 12, 55, 15, 13, 12, 12]

In [54]:
l.sort()
l

[12, 12, 12, 13, 15, 55, 123, 123, 123]

In [55]:
l.pop()
l

[12, 12, 12, 13, 15, 55, 123, 123]

In [30]:
l.pop(3)
l
del l[1]
print(l)

[12, 13, 55, 55, 12, 123, 123, 123, 123]

In [31]:
l

[12, 13, 55, 55, 12, 123, 123, 123, 123]

In [65]:
l1 = [12, 13, 15, 55, 123,132,234,233,343]
print(l1)

[12, 13, 15, 55, 123, 132, 234, 233, 343]

In [66]:
l1.pop(3)
l1
del l1[3] 
print(l1)

[12, 13, 15, 132, 234, 233, 343]

### functional programming 
- Reuse code block can be  called as functioni 
- Function will make programming more efficient 
- Function will decrease the lenth of code--def funname():statements 
  - Funname is always camel case
  - Example :fact(),isprime(),ispalindrome Test()
  - Parameters function is optional
  - Parameter function can be definedwith key word

In [67]:
# define the function
def add():
    x = 11
    y = 12
    print(x*y)
    return
# call the function
add ()

132

In [69]:
def square(x):
    print(x*x)
    return
square(10)

100

In [70]:
def cube(x):
    return x*x*x
cube(10)

1000

In [71]:
# function second largest num of the  list
def secondlarge(li):
    li.sort()
    return li[-2]
li = [19,13,24,45,34,7,6]
secondlarge(li)

34

In [74]:
# function to find generic large value
def genericlarge(li,n):
    li.sort()
    return li[-n]
li = [19,13,24,45,34,7,6]
genericlarge(li,6)

7