y =m1x1+m2x2+c<br>
m1=2,m2=3,c=5<br>
(1,1)

In [3]:
def cal(x1,x2):
    return 2*x1+3*x2+5
cal(1,1),cal(20,30),cal(15,20),cal(2,3),cal(7,10),cal(5,4),cal(2,11)

(10, 135, 95, 18, 49, 27, 42)

In [28]:
import pandas as pd
data = pd.read_csv('data.csv')
data

   x1  x2    y
0   1   1   10
1  20  30  135
2  15  20   95

In [7]:
features = data[['x1','x2']]
features

   x1  x2
0   1   1
1  20  30
2  15  20

In [8]:
target=data['y']
target

0     10
1    135
2     95
Name: y, dtype: int64

In [11]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(features,target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [12]:
lr.intercept_

5.000000000000014

In [14]:
lr.coef_

array([2., 3.])

In [16]:
lr.predict([[2,6]])

array([27.])

In [18]:
print(lr.predict([[2,6],[1,1]]))
print(lr.predict([[1,1]]))

[27. 10.]
[10.]

In [20]:
pred = lr.predict(features)
pred

array([ 10., 135.,  95.])

In [21]:
target

0     10
1    135
2     95
Name: y, dtype: int64

In [24]:
from sklearn.metrics import mean_squared_error
mean_squared_error(pred,target)

5.153891247443943e-29

In [ ]:
random m1,m2,c<br>
calculate y-->pred y<br>
diff pred y and act y

# classification

In [ ]:
feat =data1[['x1','x2']]
feat

In [ ]:
out = data1['y'].apply(lambda x:1 if x>45 else 0)
out

In [ ]:
from sklearn.linear_model import LogisticRegression
lrc =LogisticRegression()
lrc.fit(feat,out)

In [ ]:
lrc.predect(feat)

In [ ]:
data1['y']

In [ ]:
lrc.intercept_

In [ ]:
lrc.coef_

In [3]:
import pandas as pd

In [ ]:
pd.